<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <h2>Nombre usuario</h2>
    <img src="" alt="">
    <!-- <ion-button color= "warning" href="/home">Ir a home </ion-button> -->
  </ion-card>

  <ion-card>
    <h1>...no se..</h1>
    <img src="" alt="">
    <!-- <ion-button color= "warning" href="/home">Ir a home </ion-button> -->
  </ion-card>

</ion-content>