<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br> <br> 
  <div id="container" style="text-align: center;">
    <button ion-button fill="outline" *ngIf="rol=='alumno'" [routerLink]="['/ver-clase']" class="btn">Ver clases</button>
  </div>

  <div id="container" style="text-align: center;">
    <button ion-button fill="outline" *ngIf="rol=='profesor'" [routerLink]="['/error404']" class="btn">Ver clases</button>
  </div>
  
</ion-content>
