<!-- Borrar todo el ion header y pegar -->
<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>

<ion-content [fullscreen]="true">

  <br> <br> 
  <div id="container" style="text-align: center;">
    <button ion-button fill="outline" *ngIf="rol=='alumno'" [routerLink]="['/ver-clase']" class="btn">Ver clases</button>
  </div>

  <div id="container" style="text-align: center;">
    <button ion-button fill="outline" *ngIf="rol=='profesor'" [routerLink]="['/error404']" class="btn">Ver clases</button>
  </div>
  
</ion-content>
