<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rol=='profesor'" [fullscreen]="true">

  <div id="container" style="text-align: center;">
    <img src="assets/img/QR1.jpeg" alt="">
    <!-- esto enruta con un boton routlink (app) -->
    <button ion-button fill="outline" [routerLink]="['/ver-asistencia']" class="btn">Asistencia</button>
  </div>


</ion-content>
