<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <div id="container" style="text-align: center;">
    <img src="assets/img/Home2.jpeg" alt="">
  </div>
  
  <br> 
  <div id="container" style="text-align: center;">
    <button ion-button fill="outline" [routerLink]="['/registrar-clase']" class="btn">Soy profesor</button>
  </div>
  <br>
  <div id="container" style="text-align: center;">
    <button ion-button fill="outline" [routerLink]="['/registrar-asistencia']" class="btn">Soy alumno</button>
  </div>

</ion-content>
