<!-- Borrar todo el ion header y pegar -->
<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>

  <ion-content [fullscreen]="true">
<!--   <div id="container" style="text-align: center;">
    <img src="assets/img/logoGris.png" alt="">
    esto enruta con un boton routlink (app)
  </div> -->

    <ion-list>
      <ion-list-header>Conoce a nuestro equipo</ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/img/team/gatito1.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Conni</h2>
          <h3>Constanza Painevilo Jamett</h3>
          <p>I feel the good in you, the conflict...</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/img/team/gatito2.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Anne</h2>
          <h3>Ana Bolena</h3>
          <p>I feel the good in you, the conflict...</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/img/team/gatito3.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Anakin</h2>
          <h3>Hayden Christensen</h3>
          <p>I feel the good in you, the conflict...</p>
        </ion-label>
      </ion-item>


    </ion-list>
  </ion-content>