<ion-header>
  <ion-toolbar>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <ion-list>
      <ion-label>
        Código:<ion-input type="text" [(ngModel)]="asistencia.codigo"></ion-input>
      </ion-label>      
      <ion-label>
        Nombre alumno:<ion-input type="text" [(ngModel)]="asistencia.nombreAlumno"></ion-input>
      </ion-label>
      <ion-label>
        Apellido alumno:<ion-input type="text" [(ngModel)]="asistencia.apellidoAlumno"></ion-input>
      </ion-label>
      <ion-label>
        Asignatura:<ion-input type="text" [(ngModel)]="asistencia.asignatura"></ion-input>
      </ion-label>
      <ion-label>
        Fecha:<ion-input disabled="true" type="text" [(ngModel)]="asistencia.fecha"></ion-input>
      </ion-label>
    </ion-list>
  </div>

  <div id="container" style="text-align: center;">
    <!-- <img src="assets/img/QR1.jpeg" alt=""> -->
    <button ion-button fill="outline" class="btn" (click)="addAsistencia()">Guardar asistencia</button>
  </div>

</ion-content>
